body{
    background-color: #393e46;
}
.heading{
    font-family: 'Caveat', cursive;
    font-size: 40px;
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: 	#00fff5;
	background: #222831;
	border: 2px solid #393e46;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00adb5;
}
form {
    font-family: 'Caveat', cursive;
    font-size: 20px;
	width: 50%; 
	margin: 30px auto; 
	border-radius: 10px; 
	padding: 20px;
	background: #222831;
    border: 1px solid #393e46;
    box-shadow: 2px 2px 10px #00adb5;
}
form p {
	color: red;
	margin: 0px;
}
.todo_input {
    font-family: 'Caveat', cursive;
    border-radius: 10px;
    font-size: 30px;
	width: 75%;
	height: 25px; 
	padding: 15px;
    border: 2px solid #393e46;
}
.add_btn {
    font-family: 'Caveat', cursive;
    font-size: 20px;
	height: 39px;
	background: #222831;
	color: 	#00fff5;
    border: 2px solid #00adb5;
	border-radius: 10px; 
	padding: 5px 20px;
}

table {
    font-family: 'Caveat', cursive;
    color: rgb(255, 255, 255);
    width: 50%;
    background: #222831;
    border-collapse: separate;
    margin: 30px auto;
    border-radius: 10px; 
    text-align: center;
    box-shadow: 2px 2px 10px #00adb5;
    border-spacing: 5 10px;
    
}

tr {
    font-size: 25px;
    border: 1px solid white;
    padding-bottom: 20px ;
    
}

th {
	font-size: 30px;
	color: #00fff5;
}

th, td{
	border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #006e74;
}

.delete{
	text-align: center;
}
.delete a{
    color: red;
	border-radius: 3px;
	text-decoration: none;
}